## Use Heart Disease [Dataset](https://github.com/cksajil/DSAIRP25/blob/main/datasets/heart_disease.csv) and answer the following questions

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


df = pd.read_csv('heart_disease.csv')

In [46]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

1. Find the top 5 important features to the target column

In [5]:
corr_matrix = df.corr()
corr_matrix

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,1.000000,-0.103240,-0.071966,0.271121,0.219823,0.121243,-0.132696,-0.390227,0.088163,0.208137,-0.169105,0.271551,0.072297,-0.229324
sex,-0.103240,1.000000,-0.041119,-0.078974,-0.198258,0.027200,-0.055117,-0.049365,0.139157,0.084687,-0.026666,0.111729,0.198424,-0.279501
cp,-0.071966,-0.041119,1.000000,0.038177,-0.081641,0.079294,0.043581,0.306839,-0.401513,-0.174733,0.131633,-0.176206,-0.163341,0.434854
trestbps,0.271121,-0.078974,0.038177,1.000000,0.127977,0.181767,-0.123794,-0.039264,0.061197,0.187434,-0.120445,0.104554,0.059276,-0.138772
chol,0.219823,-0.198258,-0.081641,0.127977,1.000000,0.026917,-0.147410,-0.021772,0.067382,0.064880,-0.014248,0.074259,0.100244,-0.099966
fbs,0.121243,0.027200,0.079294,0.181767,0.026917,1.000000,-0.104051,-0.008866,0.049261,0.010859,-0.061902,0.137156,-0.042177,-0.041164
restecg,-0.132696,-0.055117,0.043581,-0.123794,-0.147410,-0.104051,1.000000,0.048411,-0.065606,-0.050114,0.086086,-0.078072,-0.020504,0.134468
thalach,-0.390227,-0.049365,0.306839,-0.039264,-0.021772,-0.008866,0.048411,1.000000,-0.380281,-0.349796,0.395308,-0.207888,-0.098068,0.422895
exang,0.088163,0.139157,-0.401513,0.061197,0.067382,0.049261,-0.065606,-0.380281,1.000000,0.310844,-0.267335,0.107849,0.197201,-0.438029
oldpeak,0.208137,0.084687,-0.174733,0.187434,0.064880,0.010859,-0.050114,-0.349796,0.310844,1.000000,-0.575189,0.221816,0.202672,-0.438441
slope,-0.169105,-0.026666,0.131633,-0.120445,-0.014248,-0.061902,0.086086,0.395308,-0.267335,-0.575189,1.000000,-0.073440,-0.094090,0.345512
ca,0.271551,0.111729,-0.176206,0.104554,0.074259,0.137156,-0.078072,-0.207888,0.107849,0.221816,-0.073440,1.000000,0.149014,-0.382085
thal,0.072297,0.198424,-0.163341,0.059276,0.100244,-0.042177,-0.020504,-0.098068,0.197201,0.202672,-0.094090,0.149014,1.000000,-0.337838
target,-0.229324,-0.279501,0.434854,-0.138772,-0.099966,-0.041164,0.134468,0.422895,-0.438029,-0.438441,0.345512,-0.382085,-0.337838,1.000000

In [7]:
target_corr = corr_matrix['target'].abs().sort_values(ascending=False)
target_corr

target      1.000000
oldpeak     0.438441
exang       0.438029
cp          0.434854
thalach     0.422895
ca          0.382085
slope       0.345512
thal        0.337838
sex         0.279501
age         0.229324
trestbps    0.138772
restecg     0.134468
chol        0.099966
fbs         0.041164
Name: target, dtype: float64

In [16]:
top_5_features = target_corr[1:6]
print("top 5 most important features related to target is:")
print(top_5_features)

top 5 most important features related to target is:
oldpeak    0.438441
exang      0.438029
cp         0.434854
thalach    0.422895
ca         0.382085
Name: target, dtype: float64

2. Perform Box-Cox Transformations to relevant features

In [17]:
from scipy.stats import boxcox

In [19]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [18]:
numerical_cols = ['age', 'trestbps', 'chol', 'thalach']

In [24]:
for col in numerical_cols:
    if (df[col] > 0).all():
        df[col + '_boxcox'], _ = boxcox(df[col])

In [25]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,age_boxcox,trestbps_boxcox,chol_boxcox,thalach_boxcox
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,272.372422,1.313871,4.138423,31304.528038
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,280.429390,1.316927,4.113095,26281.499672
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,429.185698,1.317822,4.022191,16473.093059
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,347.725370,1.318334,4.113095,28540.973582
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,356.482692,1.316553,4.325815,11515.358896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,330.437234,1.316927,4.162593,29708.487209
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,339.043354,1.313871,4.251700,21397.848451
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,233.321129,1.310102,4.288029,14535.293540
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,256.502879,1.310102,4.242768,27776.642554
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,288.566844,1.312705,4.068003,13230.901934

3. Perform Feature Binning to Age Column and add it as a new column to the dataset

In [27]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,age_boxcox,trestbps_boxcox,chol_boxcox,thalach_boxcox
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,272.372422,1.313871,4.138423,31304.528038
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,280.429390,1.316927,4.113095,26281.499672
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,429.185698,1.317822,4.022191,16473.093059
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,347.725370,1.318334,4.113095,28540.973582
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,356.482692,1.316553,4.325815,11515.358896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,330.437234,1.316927,4.162593,29708.487209
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,339.043354,1.313871,4.251700,21397.848451
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,233.321129,1.310102,4.288029,14535.293540
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,256.502879,1.310102,4.242768,27776.642554
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,288.566844,1.312705,4.068003,13230.901934

In [36]:
age_bins = [0, 20, 30, 55, 70, 100]
age_labels = ['Teens','Youth', 'Middle-Aged', 'Senior', 'VeryOld']

In [38]:
df['AgeGroup'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)
display(df)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,age_boxcox,trestbps_boxcox,chol_boxcox,thalach_boxcox,AgeGroup
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,272.372422,1.313871,4.138423,31304.528038,Middle-Aged
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,280.429390,1.316927,4.113095,26281.499672,Middle-Aged
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,429.185698,1.317822,4.022191,16473.093059,VeryOld
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,347.725370,1.318334,4.113095,28540.973582,Senior
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,356.482692,1.316553,4.325815,11515.358896,Senior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,330.437234,1.316927,4.162593,29708.487209,Senior
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,339.043354,1.313871,4.251700,21397.848451,Senior
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,233.321129,1.310102,4.288029,14535.293540,Middle-Aged
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,256.502879,1.310102,4.242768,27776.642554,Middle-Aged
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,288.566844,1.312705,4.068003,13230.901934,Middle-Aged

In [39]:
print("Feature binning applied to 'age' column. New column is 'AgeGroup'.")
print("Value counts for the new 'AgeGroup' column:")
print(df['AgeGroup'].value_counts())

Feature binning applied to 'age' column. New column is 'AgeGroup'.
Value counts for the new 'AgeGroup' column:
AgeGroup
Senior         515
Middle-Aged    472
VeryOld         34
Youth            4
Teens            0
Name: count, dtype: int64

4. Find the most orthogonal feature to the 'chol' feature

In [41]:
chol_corr = corr_matrix['chol'].abs().sort_values()
chol_corr

slope       0.014248
thalach     0.021772
fbs         0.026917
oldpeak     0.064880
exang       0.067382
ca          0.074259
cp          0.081641
target      0.099966
thal        0.100244
trestbps    0.127977
restecg     0.147410
sex         0.198258
age         0.219823
chol        1.000000
Name: chol, dtype: float64

In [43]:
most_orthogonal_feature = chol_corr.index[1]
most_orthogonal_feature

'thalach'

In [44]:
print("the most orthogonal feature is :", most_orthogonal_feature)

the most orthogonal feature is : thalach